@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/*
------------------------------------------------------------
Project Name : Sample Project;
------------------------------------------------------------
*/

/* Reset 
--------------------------------------------------------------------------------------------------------*/

/* 
http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }

/* General 
--------------------------------------------------------------------------------------------------------*/
* { outline: none !important; }
.window-resizing *, body:not(.page-loaded) *{transition: none!important; }
a{transition: all 0.3s;}
html, body { min-width: 320px; min-height: 100vh; }
body { font-size: 16px; line-height: 22px; font-family: 'Poppins'; -ms-overflow-style: scrollbar; -webkit-font-smoothing: subpixel-antialiased;}
.wrapper { min-height: 100vh; }
a { color: #000; text-decoration: none; }
a:hover { color: #85c3f7 !important; text-decoration: none; }
h1 span, h2 span, h3 span, h4 span, h5 span, h6 span { display: block; }
h1 {font-weight: 500;font-size: 30px;line-height: 45px;margin-bottom: 25px ;margin-top: 35px !important; }
h2 { }
h3 { }
h4 { }
h5 { }
h6 { }

input[type=text], input[type=email], input[type=password], textarea { -webkit-appearance: none; appearance: none; }
::-webkit-input-placeholder { color: #000; }
::-moz-placeholder { color: #000; }
:-ms-input-placeholder { color: #000; }
:-moz-placeholder { color: #000; }
::-moz-focus-inner { border: 0; }
select:-moz-focusring { color: transparent; text-shadow: 0 0 0 #000; }
option:not(:checked) { color: black; }

/* Header
--------------------------------------------------------------------------------------------------------*/
.header { }
.logo { display: inline-block; }
.logo>img { display: block; }

/* Login
------------------------------------------------------------------------------------------------------------*/
.login-container{padding: 80px 80px 50px 80px;max-width: 100%;min-height: 100vh;background-position:center;;background-repeat: no-repeat;background-size: cover;background-image: url('/images/background-img.jpg');}
.description-login-1{font-weight: 300;font-size: 65px;line-height: 62px;}
.description-login-2{font-weight: 400;font-size: 22px;line-height: 28px;max-width:725px;}
.login-box{background-color: #fff;padding: 40px 45px 35px 45px;}
.welcome{font-weight: 600;font-size: 30px;line-height: 45px;}
.login-title{font-weight: 400;font-size: 20px;line-height: 30px;margin-bottom: 15px;}
.signup-btn{font-weight: 500;}
.bx{display: flex;    display: flex;
flex-direction: column;
flex-wrap: wrap;
align-content: center;
justify-content: space-between;}
.form-control,.form-select {border-color: #A5A5A5 !important}
.bxb{max-width: 1400px;}

/*******************
*/
.dashbord{box-sizing: border-box;background: linear-gradient(122.51deg, #AEFDFC 23.03%, rgba(236, 255, 255, 0) 65.51%);display: flex;}
.sidebar{flex-basis: 246px;background: #3BCAC9;flex-grow: 0;flex-shrink: 0;box-sizing: border-box;transition: all 0.2s ease;z-index: 0;visibility: visible;}
.main-content{display: flex;flex-direction: column;background-color: #F9FFFF;
    flex-basis:calc(100% - 246px);max-width: calc(100% - 246px);flex-shrink: 0;z-index: 1;transition: all 0.2s cubic-bezier(0.35, 0, 0.25, 1);}
    .dashbord-container{padding: 40px 30px !important;} 
/* Main Content}

/**
-------------------------header/
gfg*/
.header{display: flex;height: 71px;align-items: center; background: #ffffff;justify-content: space-between; flex-direction: row;padding: 0px 30px;}
.btn-menu {background-color: #ffffff;border: none;}
.btn-menu img {width: 24px;height: 24px;display: block;}
.search-bar {position: relative; margin-left: 30px;}
.search-bar .form-control {box-shadow: none;border:none;color: #A5A5A5;background: url("../images/search-icon.svg") no-repeat;background-position: 12px center;width: 360px;font-size: 16px;line-height: 23px;padding: 12px 16px 12px 35px;}
.search-bar .form-control::-webkit-input-placeholder {color: #000;}
.search-bar .form-control:hover,
.search-bar .form-control:focus
 {border: 1px solid #ADADAD !important; transition: all 0.2s ease;}
.header .dropdown-toggle {background: #ffffff;border: 1px solid transparent;padding: 0px;margin-left: auto;}
.header-right ,.header-left{display: flex;flex-direction: row;align-items: center;}
.header .dropdown-toggle:hover,
.dropdown-toggle:focus,
.dropdown-toggle:active,
.btn-search:hover,
.btn-search:focus,
.btn-menu:hover,
.btn-menu:focus {background-color: #f1f1f1;border-radius: 5px}
.notification-btn{margin-left: auto;}
.header .dropdown-item:hover,
.header .dropdown-item:focus,
.header .dropdown-item:active {background-color: #f1f1f1;border-radius: 5px;color: #505050;}
.header .dropdown-toggle .notification {height: 26px;width: 26px;margin-right: 30px;}
.header .dropdown-toggle::after {display: block;border: 0;margin: 0;}
.header .profile {display: flex;align-items: center;padding: 4px 10px;}
.profile span {padding: 11px;font-size: 16px;line-height: 18px;color: #000000;}
.header .dropdown-menu {box-shadow: 0px 0px 14px 0px #00000012;padding: 10px;font-size: 15px;line-height: 18px;color: #3E3E3E;font-weight: 400;min-width: 140p}
.header .dropdown-menu .dropdown-item {padding: 10px;color: #3E3E3E;}

/* MainNavigation
--------------------------------------------------------------------------------------------------------*/
.main-navigation { }

.company-logo{padding:30px 50px 50px 30px;}
.link-name{color: #fff;padding-left: 10px;font-style: normal;font-weight: 500;font-size: 16px;line-height: 24px;}
.sidebar-link{margin-left: 30px;margin-bottom: 4px;}
.sidebar .sidebar-link{position: relative;}
.sidebar .sidebar-link:hover{border-top-left-radius: 20px;border-bottom-left-radius: 20px;z-index: 2;}
.sidebar a{display: flex;flex-direction: row;align-items: center;padding: 10px;padding-left: 15px;position: relative;border-radius: 50px 0 0 50px;}
.sidebar a:not(.active):hover,.sidebar a:not(.active):focus,.sidebar a:not(.active):active{
background: -moz-linear-gradient(left,  rgba(255,255,255,0.32) 0%, rgba(255,255,255,0) 100%);
background: -webkit-linear-gradient(left,  rgba(255,255,255,0.32) 0%,rgba(255,255,255,0) 100%);
background: linear-gradient(to right,  rgba(255,255,255,0.32) 0%,rgba(255,255,255,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#52ffffff', endColorstr='#00ffffff',GradientType=1 );
}
.sidebar .active{background: #F9FFFF; border-top-left-radius: 20px;border-bottom-left-radius: 20px;position: relative;}
.active .link-name{color: #3BCAC9;}
.active .img-link{display: none;}
.sidebar-link img{height: 17px;width: 17px;}


.up-box{position: absolute;width: 25px;height: 85px; background: #F9FFFF;right: 0px; transform: matrix(1, 0, 0, 1, 0, 0);}
    .up-box-c1{position: absolute;background-color: #3BCAC9;height: 50px;width: 50px;border-radius: 50%;top: 100%;z-index: 1;}
    .up-box-c2{position: absolute;background-color: #3BCAC9;height: 50px;width: 50px;border-radius: 50%;top: -50px;z-index: 1;}






    /*******************************************/

body.toggle-sidebar{overflow: hidden;}
.sidebar-open .main-content {flex-basis:100%;max-width: 100%;flex-grow: 1;}
.sidebar-open .sidebar {flex-shrink: 1;margin-left: -246px;transition: all 0.2s ease;}
.sidebar-open .overlay { visibility: visible;opacity: 1;}

/* --------------------------------------------------------------------------------------------------------*/ */

.main-title{}
.sales-title h2{
  color: #000000;font-size: 18px;font-weight: 400;line-height: 27px;}
.sales-title {display: flex;justify-content: space-between;align-items: center;}
.sales-graph .legend {display: flex;}
.legend .btn {font-weight: 400;font-size: 14px;line-height: 21px;;padding: 0px 0px 6px;margin: 0px 12px 6px;color: #3BCAC9; box-shadow: none;border: none;}
.legend .btn-check:focus+.btn,.btn:focus {box-shadow: none;}  
.sales-graph .legend .active,
.sales-graph .legend .btn:hover.active {color: #10D7FF;border-bottom: 1px solid #10D7FF;border-radius: 0;}
    
    .sales-graph .legend .btn:hover {color: #3E3E3E;}
/* ----------------3 -----box */
.info{padding:30px;background: #FFFFFF;box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);width:100%;margin-bottom: 10px;}
.info-2{margin-left: 30px;margin-right: 30px;}
.info-box{margin-bottom: 30px;display: flex;justify-content: space-between;align-items: center;}
.title-info{font-weight: 400;font-size: 18px;line-height: 27px;margin-bottom: 3px;}
.currency{font-weight: 500;font-size: 35px;line-height: 52px;margin-bottom: 5px;}
.profit-loss{font-weight: 400;font-size: 12px;line-height:18px;margin-right: 10px;padding: 2px 7px;border-radius: 3px}
.status-present{font-weight: 300;font-size: 13px;line-height: 24px;opacity: 0.7;}
span.text-success{background: #EEFFFF;}
span.profit-loss.text-primary {background-color: #EEFFFF;}
span.text-danger{background: #FFEEEE;}
/***********************************/
.sales-graph{padding:25px 30px;background: #FFFFFF;box-shadow: 0px 0px 14px 1px rgba(0, 0, 0, 0.08);max-width:100%;}
.pi-chart-box{height: 100%;padding: 30px;background: #FFFFFF;box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);display: flex;flex-direction: column;}
.list-chart-data{display: flex;justify-content: space-between;align-items: center;padding-bottom: 9px;}
.list-data-name{font-weight: 400;font-size: 14px;line-height: 21px;opacity:0.7;}
.list-data{font-weight: 400;font-size: 15px;line-height: 22px;}
.list-img{padding-right: 10px;opacity: 1;}
.img-chart {margin: 0px auto;padding-bottom: 20px;}
.pi-p{margin-bottom: 20px;}

/***************************************************/
.table-responsive{background: #ffffff;}
td,th{padding:14px 30px !important;font-weight: 400;font-size: 14px;line-height: 21px;}
tr,thead{border-bottom: 1px solid  rgba(165, 165, 165, 0.2);}
th{color: #A0A0A0;text-transform: uppercase;}
.db-table{margin-top: 16px;}
td:last-child{display: flex;align-items: center;justify-content: center;}
td .dropdown-toggle::after{display: block;border: 0;margin: 0;}
td .dropdown-toggle{background: transparent;border: none;}
td .dropdown-menu.show {padding: 0;}

/**markert-page
*************************************/
.form-container{padding:25px 30px;background: #FFFFFF;box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);}
.form-select{height: 50px;}
.form-container h2{font-weight: 400;font-size: 22px;line-height: 33px;margin-bottom: 22px;}

element.style {
}
input#floatingInput {
}
.form-floating > .form-control:focus, .form-floating > .form-control:not(:placeholder-shown), .form-floating > .form-control-plaintext:focus, .form-floating > .form-control-plaintext:not(:placeholder-shown) {
    padding-top: 1.625rem;
    padding-bottom: 0.625rem;
}
.form-control:focus {
    box-shadow: none;
}
.form-floating > .form-control, .form-floating > .form-control-plaintext {
    padding: 1rem 0.75rem;
}
.form-floating > .form-control, .form-floating > .form-control-plaintext, .form-floating > .form-select {
    height: 50px;
    line-height: 1.25;
}
.form-control:focus {    border-color: rgb(157, 229, 228) !important}
.form-check{margin-right: 40px;}
.invalid-feedback{    font-weight: 400;
    font-size: 12px;
    line-height: 18px;padding-left: 15px;}
.file-upload { position: relative;}
.file-content span {color:#6D6D6D;padding-left: 20px;font-size: 16px;line-height: 24px;}
.inner-page-form .file-upload .file-content {position: relative;z-index: 0;display: flex;align-items: center;margin-bottom: 28px;}
.input-group>.form-control,
.input-group>.form-select {position: absolute;width: 35%;}
.file-upload .form-control {border: none;position: absolute;top: 0px;left: 0;z-index: 1;opacity: 0;}
.file-upload .btn-outline-primary {background-color: #F6F6F6;color: #6D6D6D;padding: 8px 26px;font-size: 16px;line-height: 24px;border:none;}
.file-upload .btn-outline-primary img {vertical-align: middle;margin-right: 6px;width: 20px;height: 20px;}
.form-check-input:checked {background-color: #3BCAC9;border-color: #3BCAC9;}
.button-list .btn:hover{color: white !important; }
.button-list .btn{margin-right: 15px; }
.button-list .btn-secondary{ background-color: #F0F0F0;color: #6D6D6D !important;border: none; }
.button-list{display: flex;}
.form-control:disabled{color:#A5A5A5}
.tab-content>.tab-pane{padding-top: 20px;}
.tab-link{background: transparent;border: none;padding-bottom: 10px;color: #A5A5A5;padding-right: 25px;}
button.tab-link.active { border-bottom: 1px solid #4bebf7;color: #4bebf7;}
.bd-dash{border-bottom: 1px dashed #BFBFBF;}
.five-col h2{font: 16px;line-height: 24px;font-weight: 400;margin-bottom: 25px;}
.form-floating > .form-select {padding: 0px;padding-left: 15px;}
.below-select {font-weight: 400;font-size: 12px;line-height: 18px;color: #A5A5A5;padding-left: 15px;}

/* Footer
--------------------------------------------------------------------------------------------------------*/
.fter a { font-weight: 400;font-size: 15px;line-height: 22px;color: #FFFFFF;padding-left: 25px;}
.copyright { padding: 0; color: #fff; font-size: 0.8em; line-height: 1.2em; }
.btn{text-transform: uppercase;}
.box-12{display: flex;justify-content: center;}
/* Responsive Media Queries
--------------------------------------------------------------------------------------------------------*/
@media only screen and (min-width: 1560px) {
    .center-d{display: flex;justify-content: center;}    
}
@media only screen and (max-width: 1560px) {
    .center-d{display:block;justify-content: space-between;}    
}

@media (max-width:1199px) {
.welcome{text-align: center;}.login-title{text-align: center;} 
.description-login-1 {font-weight: 300;font-size: 30px;line-height: 35px;}
.description-login-2 {font-weight: 400;font-size: 16px;line-height: 18px;max-width: 725px;} 

.info-box{flex-wrap: wrap;margin: 0;}
.info{margin: 0; margin-bottom: 10px;width: 100%;}}
@media (max-width:991px) {
.welcome{margin-bottom: 30px;}.login-title{margin-bottom: 20px;}
body.toggle-sidebar {overflow: hidden;}
.sidebar {position: fixed;margin-left: -270px;z-index: 30;}
.overlay {position: fixed;transition: all 0.2s ease;top: 0;bottom: 0;left: 0;z-index: 29;visibility: hidden;background: rgba(0, 0, 0, 0.4);display: block;opacity: 0;right: 0;}
.sidebar-open .overlay {visibility: visible;opacity: 1;}
.sidebar-open .sidebar { margin-left: 0;height: 100vh;}
body.sidebar-open {overflow: hidden;}
.main-content{max-width:100%;flex-basis: 100%;}
}
@media (max-width:767px) {.login-container{padding: 40px 20px;} .search-bar .form-control {width: 150px;}}
@media (max-width:575px) {
    .button-list{flex-direction: column;}
    .login-box{padding: 30px 15px;}
    .login-container{padding: 20px 5px;}
    /* .login-title{font-size: 16px;line-height: 18px;} */
    .welcome{font-size: 24px;line-height: 28px;padding-bottom: 10px;}
    .remove-box{display: none;}
    .info{padding: 20px 10px;}
    .search-bar .form-control {display: none;}
    .dashbord-container{padding: 20px 16px !important;}
    .form-container{padding:20px 10px ;}
}


